/**
 HomeSmarts CSS Stylesheet
 revision 2 styling 
 **/

 *, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-page {
  margin: 0;
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  /* font-size: 18px; */
  /* text-align: center; */
  /* line-height: 200%; */
  color: #333;
  /* background: #99abad; */
  background-image: url("flag-us-tiling-background.jpg");
  background-repeat: repeat;
  /* flexbox code follows */
  display: flex;
  flex-flow: column;
  align-content: center;
  /* justify-content: baseline; */
}

.header {
  padding: 20px;
  background: #f2f7b1;
  margin-top: 200px;
  /* margin: auto; */
  width: 1080px;
}

h1 {
  /* padding: 20px 0; */
  margin: 0;
  margin-bottom: 20px;
  font-family: cursive, "Times New Roman", Times, serif;
  font-size: 52px;
  color: #e1e;
}

h2 {
  font-family: cursive, "Times New Roman", Times, serif;
  font-size: 24px;
  color: rgb(25, 10, 240);
}

hr {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(23, 63, 66);
}

/* img {
  margin-left: auto;
  margin-right: auto;
} */

.logo {
  padding: 20px;
}
.logo, .contact ul {
  /* display: block;   */
  margin: auto;
  /* flexbox code follows */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: stretch; */
  /* position: fixed; */
}
.logo img {
  height: 150px;
}

.container, .main {
  /* Box-model */
  width: 1024px;
  /* Positioning */
  padding: 40px auto;
  margin-top: 40px;
  background: #fff;
  overflow: hidden;
  text-decoration: none;
}

.container li {
  padding:10px;
}
.container h2 {
  margin-top: 20px;
  font-size: 32px;
  
}

/* footer */
.contact {
  /* width: 1024px; */
  /* padding: 40px auto; */
  /* margin: 40px; */
  /* margin-top: 40px; */
  background: #fff;
}
.contact h2 {
  /* justify-content: center; */
  text-align: center;
}
.contact a {
  color: #d21034;
}
.contact li {
  /* padding: 20px; */
  margin-top: 5px;
  margin-left: 20px;
  /* width: 100%; */
}
/* footer {
  padding-left: 40px;
  background-color: #f1efca;
} */


/* about me page  */
.about-me {
  background-image: url("m3-graywall1.bmp");
  background-repeat: repeat;
}
.bio-image {
  width: 200px;
  height: 265px;
  margin-right: 20px;
  float: left;
}

/* projects page */
.projects-page {
  background-image: url("./flag-us-tiling-background.jpg");
  background-repeat: repeat;
}
.animation {
  text-align: center;
  font-size: 70px;
}
.projects img{
  margin: 20px auto;
  width: 100%;
}

/*
=============== 
Navbar
===============
*/
/* .links a {
  /* font-size: 1rem; */
/*  text-transform: capitalize;
  display: block;
  padding: 0.5rem 1rem;
}
.links a:hover {
  padding-left: 1.5rem;
}
.links {
  /* height: 10rem; */
/*  overflow: hidden;
 }
.show-links {
  height: 10rem;
}

.nav-center {
  /* max-width: 1170px; */
/*  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 1rem;
} */

